
/* 탑 바 */

.top-bar{
    height:7vw;
    min-height:70px;
    /* height:10vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* align-items: center; */
}

.top-bar-left-wrapper{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-left:3vw;
}

.top-bar-lsa-wrapper{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-right:4vw;
}

.back-button{
    height: 45%;
    background-color: unset;
    border:none;
}

.top-bar-lsa-text{
    height: 30%;
}









/* 자주 쓰이는 */

.page-name{
    font-size:36px;
    font-weight:bold;
    color: var(--text-color);
    margin-top:5vh;
}

.input-name{
    font-size:24px;
    color: var(--text-color);
    text-align: left;
}

.warning-text{
    font-size:14px;
    color:var(--warning-color);
    text-align: right;
}

.input-wrapper{
    max-width: 500px;
    width:90vw;
    margin:10px;
}

.input{
    max-width: 500px;
    width:90vw;
    max-height: 72px;
    height: 7vh;
    padding-left: 20px;
    background-color: var(--background-color);
    border: solid var(--border-color) 1px;
    border-radius: 20px;
    font-size:22px;
    margin:10px 0;
}

.input::placeholder {
    color: #BFBFBF;
}

:is(.big-button, .middle-button, .small-button){
    border-radius: 80px;
    border:none;
    background-color: var(--main-color);
    color:#F1F5FF;
    padding: 20px;
}

.big-button{
    max-width: 40vw;
    height:80px;
    font-size: 30px;
}

.middle-button{
    max-width: 40vw;
    height:80px;
    font-size: 30px;
}
















/* main */

.lsa-full-text{
    width:30vw;
    min-width: 360px;
    margin:20px;
}

.lsa-logo{
    width:360px;
    max-width: 90vw;
    margin-top:20px;
}

.main-page-text1{
    font-size:26px;
    font-weight: bold;
    color:var(--text-color);
}

.login-button{
    width: 240px;
    max-width: 40vw;
    height:80px;
    border-radius: 80px;
    border:none;
    background-color: var(--main-color);
    color:#F1F5FF;
    font-size: 30px;
    margin:20px;
}

.join-button{
    width: 240px;
    max-width: 40vw;
    height:80px;
    border-radius: 80px;
    border:solid var(--main-color) 1px;
    background-color: var(--background-color);
    color:var(--main-color);
    font-size: 30px;
    margin:20px;
}




/* 로그인 페이지 */

.join-link{
    text-decoration: underline;
}

.join-link:hover{
    color:var(--main-color);
    cursor: pointer;
}
