.mobile-wrapper{
    max-width:700px;
    width:100%;
}







/* login */
.mobile-login-text{
    margin-top:159px;
    margin-left:40px;
    font-size:25px;
    font-weight: bold;
    color:var(--text-color);
}

.mobile-login-lsa{
    margin-top:20px;
    margin-bottom:78px;
    margin-left:40px;
    width:121px;
}

.mobile-email-input, .mobile-password-input{
    width: 87.2%;
    height:64px;
    border-radius: 18px;
    border:solid var(--border-color) 1.2px;
    margin:7.5px 0;
    padding-left: 20px;
    font-size: 18.5px;
    color:var(--text-color);
}

.mobile-email-auth-button{
    position: absolute;
    right: 5.8%;
    top: 7.5px;
    bottom: 0;
    height:64px;
    border-radius: 18px;
    font-size: 15px;
    font-weight:bold;
    color:#666666;
    padding:20px;
    border:solid var(--border-color) 1.2px;
}

:is(.mobile-email-input, .mobile-password-input)::placeholder {
    color: #BFBFBF;
}

.mobile-login-button{
    width: 89.3%;
    height:65px;
    border-radius: 18px;
    border:none;
    background-color: var(--main-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    color:#F1F5FF;
    font-size: 20px;
    margin:12.5px;
}

.mobile-join-button{
    border:none;
    color:var(--text-color);
    background-color: unset;
    font-size:17px;
    margin-top:20px;
}






/* info */

.mobile-back-button{
    position: absolute;
    width:25px;
    height:25px;
    top:68px;
    left:33px;
    background-color: unset;
    border:none;
}


.mobile-warning-text{
    font-size:16px;
    color:var(--warning-color);
    margin:7px;
    margin-left:56px;
}


.mobile-info-input-text{
    margin-left:40px;
    font-size:20px;
    font-weight: bold;
    color:#595959;
    margin-bottom:15px;
    line-height: 1.2;
}

.mobile-info-input{
    width: 86%;
    height:64px;
    border-radius: 18px;
    border:solid var(--border-color) 1.2px;
    margin-bottom:22px;
    padding-left: 20px;
    font-size: 18.5px;
    color:var(--text-color);
}

.mobile-info-input::placeholder {
    color: #BFBFBF;
}


.mobile-select-duty-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 54px;
}

.mobile-select-duty{
    min-width:182px;
    width:42%;
    height:265px;
    text-align: center;
    border-radius: 15px;
    background-color: #CFE1FC;
    padding-top: 36px;
    font-size:19px;
    font-weight: bold;
    color:#515866;
}

.mobile-info-warning-text{
    font-size:18px;
    color:var(--warning-color);
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    visibility: hidden;
}





/* 메인 */

.mobile-top-bar{
    position: absolute;
    width:100%;
    height:197px; 
    border-radius: 0 0 18px 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding:33px;
    background-color: var(--background-color);
}

.mobile-select-lab{
    font-size:18px;
    font-weight: bold;
    color:#6B7684;
    display: flex;
    align-items: center;
    margin:20px 0;
    cursor: pointer;
}

.mobile-select-lab:hover{
    text-decoration: underline;
}

.mobile-lab-name{
    font-size:18px;
    color:#6B7684;
}

.mobile-mini-profile{
    display: flex;
    align-items: center;
}

.mobile-mini-profile .mobile-duty{
    font-size:15px;
    font-weight: bold;
    color:#6B7684;

}

.mobile-mini-profile .mobile-name{
    font-size:18px;
    color:#3F4956;
    font-weight: bold;
}

.mobile-greeting{
    font-size:23px;
    font-weight: bold;
    margin-top: 247px;
    margin-left: 6%;
    color:#3F4956;
}

.mobile-safe-greeting{
    font-size:20px; 
    font-weight:bold; 
    color:#505F74; 
    margin-top: 11px;
    margin-left: 6%;
    margin-bottom: 25px;
}

.mobile-lab-manage{
    width:88%;
    height: 95px;
    margin-left: 6%;
    border-radius: 15px;
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); */
}

.mobile-lab-manage>div{
    display: flex;
    align-items: center;
}

.mobile-main-button-wrapper{
    display: flex;
    justify-content: space-between;
    width:88%;
    
    margin-top: 25px;
    margin-left: 6%;
}

.mobile-main-button-wrapper>button{
    width:48%;
    height:209px;
    border-radius: 15px;
    background-color: var(--background-color);
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

.mobile-main-button-wrapper>button>div{
    color:#505F74;
    font-size: 19px;
    font-weight: bold;
}