.wrapper{
    max-width:700px;
    width:100%;
}

.overlay{
    background-color: #0004;
    position: fixed;
    width:100vw;
    height:100vh;
    z-index: 1;
}

.background{
    width:100vw;
    height:100vh;
    position:fixed;
    z-index: -1;
}

.main-button{
    width: 89.3%;
    height:65px;
    border-radius: 18px;
    border:none;
    background-color: var(--main-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    color:#F1F5FF;
    font-size: 20px;
    margin:12.5px;
    transition: background-color 0.2s ease;
}

.main-button:active {
    background-color: #3B6DDF;
}

.main-input{
    width: 87.2%;
    height:64px;
    border-radius: 18px;
    border:solid var(--border-color) 1.2px;
    margin:7.5px 0;
    padding-left: 20px;
    font-size: 18.5px;
    color:var(--text-color);
}

.main-input::placeholder{
    color: #BFBFBF;
}

.back-button{
    width:25px;
    height:25px;
    margin-top:60px;
    margin-left:33px;
    background-color: unset;
    border:none;
}

.main-text1{
    margin-top:159px;
    margin-left:40px;
    font-size:25px;
    font-weight: bold;
    color:var(--text-color);
}

.main-text2{
    margin-left:40px;
    margin-bottom:15px;
    font-size:20px;
    font-weight: bold;
    color:#595959;
    line-height: 1.2;
}


.warning-text{
    font-size:16px;
    color:var(--warning-color);
    margin:7px;
    margin-left:56px;
}









/* login-page */

#login-page .login-lsa{
    margin-top:20px;
    margin-bottom:78px;
    margin-left:40px;
    width:121px;
}

#login-page .join-button{
    border:none;
    color:var(--text-color);
    background-color: unset;
    font-size:17px;
    margin-top:20px;
}



/* join-page */

#join-page .email-auth-button{
    position: absolute;
    right: 5.8%;
    top: 7.5px;
    bottom: 0;
    height:64px;
    border-radius: 18px;
    font-size: 15px;
    font-weight:bold;
    color:#666666;
    width:32%;
    max-width: 140px;
    border:solid var(--border-color) 1.2px;
}






/* info-page */

#info-page .select-duty-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 54px;
}

#info-page .select-duty{
    min-width:182px;
    width:42%;
    height:265px;
    text-align: center;
    border-radius: 15px;
    background-color: #CFE1FC;
    padding-top: 36px;
    font-size:19px;
    font-weight: bold;
    color:#515866;
}

#info-page .border{
    border:solid var(--main-color) 3px;
}

#info-page .info-warning-text{
    font-size:18px;
    color:var(--warning-color);
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    visibility: hidden;
}





/* main-page */

#main-page .background{
    background-color: #F2F4F6;;
}

#main-page .top-bar{
    position: fixed;
    width:100%;
    height:197px; 
    border-radius: 0 0 18px 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding:33px;
    background-color: var(--background-color);
}

#main-page .select-lab{
    font-size:18px;
    font-weight: bold;
    color:#6B7684;
    display: flex;
    align-items: center;
    margin:20px 0;
    cursor: pointer;
    width:fit-content;
}

#main-page .select-lab:hover{
    text-decoration: underline;
}

#main-page .lab-name{
    font-size:18px;
    color:#6B7684;
}

#main-page .mini-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
    width:fit-content;
}

#main-page .mini-profile .duty{
    font-size:15px;
    font-weight: bold;
    color:#6B7684;

}

#main-page .mini-profile .name{
    font-size:18px;
    color:#3F4956;
    font-weight: bold;
}

#main-page .greeting{
    font-size:23px;
    font-weight: bold;
    margin-top: 247px;
    margin-left: 6%;
    color:#3F4956;
}

#main-page .safe-greeting{
    font-size:20px; 
    font-weight:bold; 
    color:#505F74; 
    margin-top: 11px;
    margin-left: 6%;
    margin-bottom: 25px;
}

#main-page .lab-manage{
    width:88%;
    height: 95px;
    margin-left: 6%;
    border-radius: 15px;
    display: flex;
    background-color: var(--background-color);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#main-page .lab-manage:active{
    background-color: #EEE;
}

#main-page .lab-manage>div{
    display: flex;
    align-items: center;
}

#main-page .main-button-wrapper{
    display: flex;
    justify-content: space-between;
    width:88%;
    
    margin-top: 25px;
    margin-left: 6%;
}

#main-page .main-button-wrapper>button{
    width:48%;
    height:209px;
    border-radius: 15px;
    background-color: var(--background-color);
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#main-page .main-button-wrapper>button:active{
    background-color: #EEE;
}

#main-page .main-button-wrapper>button>div{
    color:#505F74;
    font-size: 19px;
    font-weight: bold;
}

#main-page .bottom-sheet{
    position: fixed;
    left:50%;
    transform: translate(-50%,0);
    bottom:0;
    max-width:700px;
    width:100%;
    height:0;
    background-color: #F2F4F6;
    z-index: 3;
    border-radius: 25px 25px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    transition: height 0.2s ease-in-out 0s;
}

#main-page .bottom-sheet-up{
    height:95%;
}

#main-page .bottom-sheet>div:first-child{
    background-color: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /* height:171px; */
    padding:10px 25px 25px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-page .bottom-sheet>div:first-child>div:nth-child(3){
    background-color: #F2F4F6;
    border-radius: 17px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:51px;
    margin-top:20px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 10px;
}

#main-page .bottom-sheet>div:first-child>div:nth-child(3)>input{
    border:none;
    background-color: inherit;
    width:100%;
    height:51px;
    font-size:18px;
}

#main-page .bottom-sheet>div:first-child>div:nth-child(3)>input:focus{
    outline: none;
}

#main-page .lab-list{
    padding: 20px;
    overflow-y: auto;
}

#main-page .lab-list>div{
    width:100%;
    height:87px;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:14px 0;
}

#main-page .lab-list>div>div{
    margin: 3px;
    width:90%;
}

#main-page .lab-list .lab-select-button{
    background-color: #F2F4F6;
    color: #505F74;
    width:46px;
    height:29px;
    border:none;
    border-radius: 30px;
}

#main-page .lab-list .lab-select-button::before{
    content:"선택"
}

#main-page .lab-list .lab-select-button-selected{
    background-color: var(--main-color);
    color: #F1F5FF;
    width:59px;
    height:29px;
    border:none;
    border-radius: 30px;
}

#main-page .lab-list .lab-select-button-selected::before{
    content:"선택됨"
}




#main-page #user-info-bottom-sheet .user-info{
    width:100%;
}

#main-page #user-info-bottom-sheet p{
    font-size: 18px;
    color:#6B7684;
    margin-left:44px;
    margin-top:24px;
}

#main-page #user-info-bottom-sheet .main-input{
    font-size:18px;
    width:87%;
    height:59px;
    border:none;
    color:#6B7684;
}

#main-page #user-info-bottom-sheet .logout{
    font-size: 18px;
    color:#6B7684;
    font-weight: bold;
}

#main-page #user-info-bottom-sheet .logout:hover{
    text-decoration: underline;
}





/* manage-lab-page */

#manage-lab-page .top-bar{
    position: fixed;
    width:100%;
    height:126px; 
    border-radius: 0 0 18px 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding:33px;
    background-color: var(--background-color);
    font-size:22px;
    font-weight: bold;
}

#manage-lab-page .top-bar>div{
    margin-top:30px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#manage-lab-page .lab-list{
    padding: 20px;
    overflow-y: auto;
}

#manage-lab-page .lab-list>div{
    width:100%;
    height:87px;
    background-color: var(--background-color);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#manage-lab-page .lab-list>div>div{
    margin: 3px;
    width:90%;
}







/* experiment-page */
#experiment-page .main-text2{
    padding-left:56px;
    margin-left:0;
    margin-top:30px;
    width:100%;
}

#experiment-page .list{
    background-color: #F2F4F6;
    color: #6B7684;
    width:87%;
    border-radius: 30px;
    padding: 20px;
    margin-bottom:20px;
}

#experiment-page .list>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

#experiment-page .list>div:nth-child(1)>div:nth-child(1){
    font-size:15px;
    font-weight: 600;
    color:#6B7684;
}

#experiment-page .list>div:nth-child(2)>div{
    background-color: var(--background-color);
    width:100%;
    height: 59px;
    font-size:18px;
    margin-top:15px;
    border-radius: 17px;
    color:#6B7684;
    padding-left: 20px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}