:root {
    --main-color: #4780EF;
    --background-color: #FBFBFB;
    --main-background-color: #F2F4F6;
    --border-color:#D9D9D9;
    --text-color:#3B3B3B;
    --warning-color:#E96666;
}

*{
    font-family: "AppleSDGothicNeo", Arial;
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    color:var(--text-color);
    background-color: var(--background-color);
}

input::placeholder {
    color: #BFBFBF;
}



/* 자주 쓰이는 */
.main-color{color:var(--main-color);}
.text-center{text-align: center;}
.display-none{display: none;}
.hidden{visibility: hidden;}
.flex-center{display: flex;  
    flex-direction :column;
    justify-content: center;
    align-items:center;
    width:100%;}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@font-face {
    font-family: "AppleSDGothicNeo";
    font-weight: 500;
    src: url(../assets/fonts/AppleSDGothicNeoM.ttf) format('truetype');
}

@font-face {
    font-family: "AppleSDGothicNeo";
    font-weight: 600;
    src: url(../assets/fonts/AppleSDGothicNeoSB.ttf) format('truetype');
}

@font-face {
    font-family: "AppleSDGothicNeo";
    font-weight: 700;
    src: url(../assets/fonts/AppleSDGothicNeoB.ttf) format('truetype');
}